@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.p-message-icon {
  margin-right: 0.5rem;
}

.header-link {
  border-radius: 5px;
  margin: 0 5px;
  padding: 0 10px;
}

.header-link:hover,
.header-link:active,
.router-link-active {
  background-color: rgba(0, 0, 0, 0.12);
  color: #fff;
}

#header-logo a.router-link-active {
  background-color: transparent;
}

.p-stepper-title {
  margin-left: 7px;
}
